SQLAlchemy==2.0.44
asyncpg==0.31.0
psycopg==3.3.2
psycopg-binary==3.3.2
alembic==1.17.2
pydantic==2.12.5
pydantic-settings==2.12.0
sqlmodel==0.0.27
starlette==0.50.0
pydub==0.25.1
magic==0.4.27
transformers==4.57.3